<head>
  <title>sounder</title>
</head>

<body>
  <canvas id="myCanvas" resize></canvas>
  <audio id="source" src="danny.mp3" ></audio>
  <audio id="source2" src="todd.mp3"></audio> 
  {{> hello}}
  {{>controls}}
</body>

<template name="hello">
<!--   <div class="shaders">
    <a href="#" data-shader="solid">solid</a>
    <a href="#" data-shader="gradient">gradient</a>
    <a href="#" data-shader="radial">radial</a>
    <a href="#" data-shader="zoom">zoom</a>
    <!-- <a href="#" data-shader="solid">solid</a> -->
  <!-- </div> --> 
  

</template>


<template name="controls">
  <div id="controlsWrap" class="controls open">
    <a href="#" class="opener" id="controlsOpener">o</a>

    <div id="playlist" class="playlist"></div>

    <div class="inputter" id="inputWrap">
      <label for="urlfield">Stream URL</label><input type="url" name="url" id="urlfield"><button id="url">catchit!</button>
    </div>
    <a href="#" class="inputOpener" id="inputOpener">SourceUrl</a>
  </div>


</template>
